body{
    background-color: #222222 !important; /* overrides bootstrap setting */
}

.container {
    /** /
    margin-right: 1px !important;
    margin-left: 1px !important;
    /**/
    padding: 0px !important;
}

@media (min-width: 1200px){
    .container {
        max-width: 98%;
    }
}

#first-row {
    padding-bottom: 0px;
}

#col1{
    padding-left: 0px;
}

#col3{
    padding-right: 0px;
}

#col4{
    padding-left: 0px;
}

#col6{
    padding-right: 0px;
}



.col-4 {
    background-clip: content-box;
    background-color: #111111;
    box-shadow: 0 0 1px 1px #222222;
}

div {
    border-radius: 25px;
}

div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 120px;                    
    height: 30px;                   
    padding: 2px;               
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
    color: #eeeeee;      
    background: #111111; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;
    overflow: hidden;           
}


div.tip {   
    position: absolute;         
    text-align: center;         
    width: 30px;                    
    height: 30px;                   
    padding: 2px;               
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
    color: #eeeeee;      
    background: #111111; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}

/*============== Scatterplot styling ==============*/
#sale-title{
    /** /background-color: #ffffff; /**/
}

#sale-title line{
    stroke: #eeeeee;
    stroke-width: 2;
}

#sale-title path{
    stroke: #eeeeee;
    stroke-width: 2;
}

#sale-title text{
    fill: #eeeeee;
}
/*
.bubble {
    fill: #3fbcff;
    stroke: #325e82;
}*/

.tick{
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
  }

/*============== Heatmap styling ==============*/

#heatmap {
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    fill: #eeeeee;

    /** /background-color: #ff0000; /**/
}

/*============== Timeline styling ==============*/

#timeline {
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    fill: #eeeeee;
    border: 1px solid #ccc;
    color: #eeeeee;
}

#timeline text{
    fill: #eeeeee;
    color: #eeeeee;
}   

#timeline svg line.track {
    stroke-opacity: 0.4;
    stroke: #000;
    stroke-width: 10px;
}
#timeline svg line.track-inset {
    stroke: steelblue;
    stroke-width: 8px;
}

/* this is a hidden element, changing it here won't do anything visually */
#timeline svg line.track-overlay {
    stroke: #eeeeee;
    stroke-width: 40px;
    stroke-opacity: 0;
}

#timeline svg line.track-overlay, #timeline svg line.track, #timeline svg line.track-inset {
    stroke-linecap: round;
}

#timeline svg #minHandle {
    fill: #00ff00;
    stroke: #444444;
}

#timeline svg #maxHandle {
    fill: #0000ff;
    stroke: #444444;
}